@model IEnumerable<Medical_shop.Models.Entities.Comment>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Basket | Товари медичного призначення";
}

@using Medical_shop.Models.Entities;
@using Medical_shop.Models.Decorator;
<div class="jumbotron basketJumb">
    <h2>Кошик</h2>
    <form method="post" action="@Url.Action("RefreshBasket", "HomeController")">
        <div class="infoSumBasket">
            <table class="tableBasket">
                <tr><th id="beforePId">Мінімальна сума замовлення становить 300 грн.</th></tr>
                @{
                    int sum = 0;
                    foreach (var product in ViewBag.Products)
                    {
                        sum += product.Price;
                    }
                    <tr><td>Сума вашого замовлення зараз становить: @sum грн.</td></tr>
                }
            </table>
        </div>

        <div class="infoProductBasket">
            <div class="container-fluid">
                <div class="row newRowBasket">
                      <div class="col-6"><p id="TovarId"><b>Товар</b></p></div>
                      <div class="col-2"><p><b>Ціна</b></p></div>
                      <div class="col-2"><p><b>Кількість</b></p></div>
                      <div class="col-2"><p><b>Всього</b></p></div>
                 </div>
                 @{
                    PrimaryProduct currentProduct = null;
                    foreach (var product in ViewBag.Products)
                    {
                        if (currentProduct.Id == product.Id) { continue; }
                        currentProduct = product;
                        int amount = 0;
                        foreach (var productInto in ViewBag.Products)
                        {
                            if (productInto.Id == product.Id) { amount++; }
                        }
                        <div class="row newRowBasket">
                            <div class="col"><a href="/Home/DeleteProductFromOrder/@product.Id"><img src="~/Images/red cross.png" class="RedCrossProdImg" /></a></div>
                            <div class="col"><img src="@product.ImageDirection" class="basketProdImg" /></div>
                            <div class="col-4"><p>@product.Name</p></div>
                            <div class="col-2">
                                @{
                                    Product productSale;
                                    PrimaryProduct pp = product;
                                    int price = 0;
                                    switch (pp.Sale)
                                    {
                                        case "20":
                                            productSale = pp;
                                            productSale = new Sale20Percent(productSale);
                                            price = product.GetCost(pp);
                                            <p><b>@price грн.</b></p>
                                            break;
                                        case "40":
                                            productSale = pp;
                                            productSale = new Sale40Percent(productSale);
                                            price = product.GetCost(pp);
                                            <p><b>@price грн.</b></p>
                                            break;
                                        case "0":
                                            price = product.Price;
                                            <p><b>@price грн.</b></p>
                                            break;
                                    }
                                }
                            </div>
                            <div class="col-2"><input type="number" class="counter" name="counter" min="1" max="50" placeholder="@amount"></div>
                            <div class="col-2"><p><b>@(price*amount)</b></p></div>
                        </div>
                    }
                }
                <div class="row newRowBasket">
                    <div class="col-10"></div>
                    <div class="col-2"><button type="submit" class="btn btn-secondary">Оновити кошик</button></div>
                </div>
            </div>
        </div>
    </form>
        <br />
        <br />
    <form method="post" action="@Url.Action("SaveOrder", "HomeController")">
        <div class="infoResultBasket">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <p><h4>Всього</h4></p>
                        <table class="tableBasketEnd">
                            <tr class="trBasketEnd"><th>Всього</th><td>@sum грн.</td></tr>
                        </table>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Оформити замовлення</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br />
    <br />
    <br />
    <hr />
    <br />
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form method="post" action="@Url.Action("/AddComment", "Home")">
                <input type="text" name="Text" autocomplete="off" />
                <input type="hidden" name="Page" value="Basket" />
                <button type="submit">Додати</button>
            </form>
        }
    }
    <br />
    <br />
    <div>
        <table class="tableComment">
            @foreach (var comment in Model)
            {
                if (comment.Page == "Basket")
                {
                    <tr id="trComments">
                        <th id="thComments">
                            @{
                                Medical_shop.Models.Services.MedicalContext db = new Medical_shop.Models.Services.MedicalContext();
                                foreach (var item in db.Users)
                                {
                                    if (item.Id == comment.UserId) { <p>@item.Login :</p>}
                                }
                            }
                        </th>
                        <td id="tdComments"><textarea rows="4" cols="100" readonly>@comment.Text</textarea></td>
                    </tr>
                 }
             }
        </table>
    </div>
</div>
