@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details | Товари медичного призначення";
}

@using Medical_shop.Models.Entities;
@using Medical_shop.Models.Decorator;
<div class="jumbotron oneProdJumb">
    <form method="post" action="@Url.Action("OneProduct", "HomeController")">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="@Url.Content(ViewBag.Product.ImageDirection)" class="imgOneProduct" />
                </div>
                <div class="col-6">
                    <input type="hidden" value="@ViewBag.Product.Id" name="Id" />
                    <p class="OneProdName">@ViewBag.Product.Name</p>
                    <p class="firstPrice">@ViewBag.Product.Price</p>
                    @{
                        Product product;
                        PrimaryProduct pp = ViewBag.Product;
                        switch (pp.Sale)
                        {
                            case "20":
                                <br />
                                product = pp;
                                product = new Sale20Percent(product);
                                <p class="salePrice">@product.GetCost(pp) грн.</p>
                                break;
                            case "40":
                                <br />
                                product = pp;
                                product = new Sale40Percent(product);
                                <p class="salePrice">@product.GetCost(pp) грн.</p>
                                break;
                            case "0":
                                break;
                        }
                    }
                    <div>
                        <input type="number" class="counter" name="counter" min="1" max="50" placeholder="1">
                        @{
                            if (User.Identity.IsAuthenticated)
                            { <button type="submit" class="btn btn-success">Додати в кошик</button> }
                            <button type="button" class="btn btn-success">Додати в кошик</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br />
    <br />
    <div class="tabs">
        <input type="radio" name="inset" value="" id="tab_1" checked>
        <label for="tab_1">Опис</label>

        <input type="radio" name="inset" value="" id="tab_2">
        <label for="tab_2">Відгуки</label>

        <div id="txt_1">
            <p class="OneProdText">@ViewBag.Product.Text</p>
        </div>
        <div id="txt_2">
            <br />
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <form method="post" action="@Url.Action("/AddComment", "Home")">
                        <input type="text" name="Text" autocomplete="off" />
                        <input type="hidden" name="Page" value="OneProduct" />
                        <button type="submit">Додати</button>
                    </form>
                }
            }
            <br />
            <br />
            <div>
            <table class="tableComment">
                @foreach (var comment in ViewBag.Comments)
                {
                    if (comment.Page == "OneProduct")
                    {
                        <tr id="trComments">
                            <th id="thComments">
                                @{ 
                                    Medical_shop.Models.Services.MedicalContext db = new Medical_shop.Models.Services.MedicalContext();
                                    foreach (var item in db.Users)
                                    {
                                        if (item.Id == comment.UserId) { <p>@item.Login :</p>}
                                    }
                                }
                            </th>
                            <td id="tdComments"><textarea rows="4" cols="100" readonly>@comment.Text</textarea></td>
                        </tr>
                    }
                }
            </table>
            </div>
        </div>
    </div>
</div>
