@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Products | Товари медичного призначення";
}

@using Medical_shop.Models.Entities;
@using Medical_shop.Models.Decorator;
<div class="jumbotron productJumb">
    <h3 id="productH3">@ViewBag.TypeName</h3>
    @*<form method="post">*@
        <div class="container-fluid">
            @{
                int c = ViewBag.AmountOfProducts / 4;
                if (ViewBag.AmountOfProducts % 4 != 0) { c++; }
                Product product;
                for (int a = 0; a < c; a++)
                {
                    int b = 1;
                    <div class="row newRow">
                        @foreach (PrimaryProduct pp in ViewBag.Products)
                        {
                            <div class="col-3 new">
                                <a href="/Home/OneProduct/@pp.Id">
                                    <div>
                                        <img src="@Url.Content(pp.ImageDirection)" class="imgAll" />
                                        <br />
                                        <p class="ProductP">@pp.Name (@pp.Amount)</p>
                                        @{
                                            switch (pp.Sale)
                                            {
                                                case "20":
                                                    product = pp;
                                                    product = new Sale20Percent(product);
                                                    <p class="NotSaleP">@pp.Price грн.</p>
                                                    <p class="SaleP">@product.GetCost(pp) грн.</p>
                                                    break;
                                                case "40":
                                                    product = pp;
                                                    product = new Sale40Percent(product);
                                                    <p class="NotSaleP">@pp.Price грн.</p>
                                                    <p class="SaleP">@product.GetCost(pp) грн.</p>
                                                    break;
                                                case "0":
                                                    <p class="SaleP">@pp.Price грн.</p>
                                                    break;
                                            }
                                        }
                                    </div>
                                </a>
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    { <button type="button" class="btn btn-success" onclick="location.href ='/Home/ProductsPost/@pp.Id'">Додати в кошик</button> }
                                    else
                                    { <button type="button" class="btn btn-success">Додати в кошик</button> }
                                }
                            </div>
                            @*<input type="hidden" value="@pp.Id" name="Id" />*@
                            b++;
                            if (b % 4 == 0) { break; }
                        }
                    </div>
                }
             }
        </div>
    @*</form>*@
</div>

