<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body style="background-color:#006223">

    <div class="main">
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9 layoutCol-9">
                        <h1 id="LayoutH1"><b>Товари медичного призначення</b></h1>
                        <h2 id="LayoutH2">За детальною інформацією: +38 (095)386-05-09</h2>
                    </div>
                    <div class="col blockAuthority" id="btnId">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <div class="welcoming"><p class="welcomingText"><b>Ласкаво просимо @User.Identity.Name</b></p></div>
                                <div class="btnLogout"><button type="button" class="btn btn-lg btn-primary" onclick="location.href='@Url.Action("/Logoff", "Authority")'">Log out</button></div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col btnAuto1"><button type="button" class="btn btn-lg btn-primary" onclick="location.href='@Url.Action("/Log_in", "Authority")'">Log in</button></div>
                                    <div class="w-100"></div>
                                    <div class="col btnAuto2"><button type="button" class="btn btn-lg btn-secondary" onclick="location.href='@Url.Action("/Registration", "Authority")'">Sign in</button></div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="container" id="menu">
                <div class="row no-gutters" id="menuId">
                    <div class="col-2 layoutCol-2">
                        <a class="actionBar" href="@Url.Action("/Main", "Home")"><p class="menuP">ГОЛОВНА</p></a>
                    </div>
                    <div class="col-2 layoutCol-2">
                        <a class="actionBar" href="@Url.Action("/Categories", "Home")"><p class="menuP">ВСІ ТОВАРИ</p></a>
                    </div>
                    <div class="col-2 layoutCol-2">
                        <a class="actionBar" href="@Url.Action("/Questions", "Home")"><p class="menuP">F.A.Q.</p></a>
                    </div>
                    <div class="col-2 layoutCol-2">
                        <a class="actionBar" href="@Url.Action("/Contacts", "Home")"><p class="menuP">КОНТАКТИ</p></a>
                    </div>
                    <div class="col-2 layoutCol-2">
                        <a class="actionBar" href="@Url.Action("/Delivery", "Home")"><p class="menuP">ДОСТАВКА</p></a>
                    </div>
                    <div class="col">
                        <p></p>
                    </div>
                    <div class="col" id="grnId">
                        @{
                            int sum = 0;
                            if (User.Identity.IsAuthenticated)
                            {
                                Medical_shop.Models.Services.MedicalContext db = new Medical_shop.Models.Services.MedicalContext();
                                foreach (var item in db.Orders)
                                {
                                    sum = item.Sum;
                                }
                            }
                            <a class="actionBar" href="@Url.Action("/Basket", "Home")"><p class="menuP" id="grnInId">@sum ГРН.</p></a>
                        }
                    </div>
                </div>
            </div>
        </header>

        <div>
            @RenderBody()
        </div>

        <footer>
            <p id="footP">2018 – Курсова робота студента Хижняк О.С.</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
